/* fonts */
@font-face {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilory"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilory"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* global */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: transparent;
  background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  /* background-image: linear-gradient(#f0c52e 0%, #f0c52e 100%); */
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* main-header */
.main-header {
  background-color: #f7e296;
  background-image: linear-gradient(#ffffff 18%, #f7e296 18%);
}

.main-header ul {
  list-style: none;
}

.main-header a,
.search-button {
  font: inherit;
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .header-logo:hover,
.main-header .header-logo:focus {
  opacity: 0.6;
}

.main-header .header-logo:active {
  opacity: 0.3;
}

.main-header .header-logo-index:hover {
  opacity: 1;
}

.site-search input {
  color: rgba(0, 0, 0, 0.3);

  border: none;
}

.site-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
  color: rgba(0, 0, 0, 1);

  border-bottom: 2px solid #000000;
}

.search-button {
  text-align: center;
  vertical-align: middle;

  background-color: #f7e296;
  border: 2px solid #000000;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-account .logout {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-account .logout:hover,
.header-user-account .logout:focus {
  color: rgba(0, 0, 0, 1);
}

.header-user-account .logout:active {
  color: rgba(0, 0, 0, 0.5);
}

.main-site-navigation {
  background-color: #f7e296;
}

.header-catalog-menu > a,
.header-services a,
.header-contacts a {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.header-catalog-menu .current-page,
.header-catalog-menu .current-page:hover {
  color: rgba(0, 0, 0, 0.3);

  cursor: default;
}

/* main-page */
main p,
.promo-slider-table .parameters-row {
  color: #464646;
  letter-spacing: 0.2px;
}

main ul {
  list-style: none;
}

.promo-slider {
  background-color: #f7e296;
  background-image: linear-gradient(#f7e296 18%, #ffffff 18%);
}

.promo-slider-slogan,
.promo-slider-table .values-row,
.categories-list a,
.services-slider-heading,
.about-us h2,
.contacts h2,
.shipping-companies-list {
  font-family: "Gilory", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.promo-slider-slogan {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.8px;
}

.promo-slider-table .parameters-row {
  font-size: 13px;
  line-height: 20px;
}

.promo-slider-table .values-row {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.categories-list a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-slider {
  background-color: #e5e5e5;
  background-image: linear-gradient(#ffffff 39%, #e5e5e5 39%);
}

.services-slider-button:active {
  color: #f7e184;

  background-image: linear-gradient(#000000 0%, #000000 100%);
}

.services-slider-button-current,
.services-slider-button-current:hover {
  color: #f7e184;

  background-image: linear-gradient(#000000 0%, #000000 100%);

  cursor: default;
}

.services-slider-heading,
.about-us h2,
.contacts h2 {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.7px;
}

.brands-item a:hover,
.brands-item a:focus,
.brands-item a:active {
  display: inline-block;

  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.brands-item-dji a:hover,
.brands-item-dji a:focus,
.brands-item-dji a:active {
  background-image: url("../img/brand-dji-color.png");
}

.brands-item-spgadgets a:hover,
.brands-item-spgadgets a:focus,
.brands-item-spgadgets a:active {
  background-image: url("../img/brand-spgadgets-color.png");
}

.brands-item-gopro a:hover,
.brands-item-gopro a:focus,
.brands-item-gopro a:active {
  background-image: url("../img/brand-gopro-color.png");
}

.brands-item-vive a:hover,
.brands-item-vive a:focus,
.brands-item-vive a:active {
  background-image: url("../img/brand-vive-color.png");
}

.brands-item img:hover,
.brands-item img:focus,
.brands-item img:active {
  opacity: 0;
}

.shipping-companies-list {
  font-size: 16px;
  line-height: 40px;
}

/* inner-page */
.page-title,
.filters h2,
.sort h2,
.filters-form legend,
.range-filter-price label,
.range-filter-price input,
.catalog-item-price,
.pagination {
  font-family: "Gilory", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.page-title {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.7px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.breadcrumbs a,
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  cursor: default;
}

.filters,
.sort,
.pagination {
  background-color: #eeeeee;
}

.filters h2,
.sort h2 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.filters h2 {
  background-color: #dcdcdc;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filters-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.2px;

  cursor: pointer;
}

.filters-form input:disabled + label {
  color: #a6a6a6;

  cursor: default;
}

.range-filter-price label,
.range-filter-price input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.range-filter-price label {
  cursor: default;
}

.range-filter-price input {
  background-color: #eeeeee;
  border: none;
}

.sort-type-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.3);
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type-current a,
.sort-type-current a:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-list a {
  color: #000000;
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list h3 {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.catalog-item-hover .compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.2px;

  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-hover .compare:hover,
.catalog-item-hover .compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-hover .compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.pagination a {
  color: #000000;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .pagination-button-disabled,
.pagination .pagination-button-disabled:hover {
  color: #979797;

  background-color: #eeeeee;

  cursor: default;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: rgba(0, 0, 0, 1);

  cursor: default;
}

/* main-footer */
.main-footer {
  background-color: #464646;
}

.main-footer p,
.footer-first-row a,
.footer-phone-number {
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.footer-first-row a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-first-row a:hover,
.footer-first-row a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-first-row a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-first-row .footer-logo:hover,
.footer-first-row .footer-logo:focus {
  opacity: 0.6;
}

.footer-first-row .footer-logo:active {
  opacity: 0.3;
}

.main-footer .footer-logo-index:hover {
  opacity: 1;
}

.footer-user-account .logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-account .logout:hover,
.footer-user-account .logout:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-account .logout:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer-second-row a {
  color: #ffffff;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.footer-second-row a:hover,
.footer-second-row a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-second-row a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-info-menu {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.main-footer .footer-phone-number {
  letter-spacing: 0;
  text-transform: none;
}

.footer-third-row a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-third-row a:hover,
.footer-third-row a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-third-row a:active {
  color: rgba(255, 255, 255, 0.1);
}

.footer-third-row .footer-copyright:hover,
.footer-third-row .footer-copyright:focus {
  opacity: 0.6;
}

.footer-third-row .footer-copyright:active {
  opacity: 0.3;
}

/* modals */
.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  border: 3px solid #f7e296;
}

/* .write-us-form input:not(:focus):required,
.write-us-form textarea:not(:focus):required {
  background-color: #f6dada;
  box-shadow: none;
}*/

.write-us-form .invalid-value,
.write-us-form .invalid-value:not(:focus):hover {
  background-color: #f6dada;
}
