/* FONTS */
@font-face {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilory"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilory"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* GLOBAL */
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-height: 40px;

  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: transparent;
  background-image: linear-gradient(transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* MAIN-HEADER */
/* Общие*/
.main-header {
  margin-top: 21px;
}

.main-header ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header p {
  margin: 0;
}

.main-header a,
.search-button {
  font: inherit;
  color: #000000;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .background-wrapper {
  background-color: #f7e296;
  background-image: linear-gradient(#ffffff 19px, #f7e296 19px);
}

/* Логотип */
.main-index-navigation {
  margin-bottom: 24px;
}

.main-header .header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-left: 60px;
}

.main-header .header-logo:hover,
.main-header .header-logo:focus {
  opacity: 0.6;
}

.main-header .header-logo:active {
  opacity: 0.3;
}

.main-header .header-logo-index:hover {
  opacity: 1;
}

/* Строки */
.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 60px;
}

/* 1-я строка */
.header-first-row {
  margin-bottom: 26px;
}

.header-right-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
}

.header-first-row .header-right-column {
  margin-top: 3px;
}

/* 1-я строка - Форма поиска */
.site-search {
  display: flex;
}

.site-search input {
  box-sizing: border-box;
  width: 356px;
  padding: 13px 38px;

  color: rgba(0, 0, 0, 0.3);

  background-color: #f7e296;
  border: none;
}

.site-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
  color: rgba(0, 0, 0, 1);

  border-bottom: 2px solid #000000;
}

.search-button {
  display: none;
  padding: 7px 19px;

  text-align: center;
  vertical-align: middle;

  background-color: #f7e296;
  border: 2px solid #000000;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-search input:focus + .search-button {
  display: block;
}

/* 1-я строка - Правая колонка */
.header-user-account {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

.header-user-account a:nth-child(2n-1) {
  margin-right: 20px;
  padding-left: 27px;

  letter-spacing: 0.2px;
}

.user-profile {
  margin-right: 20px;
  padding-left: 27px;

  letter-spacing: 0.2px;
}

.header-user-account .user-logout {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-account .user-logout:hover,
.header-user-account .user-logout:focus {
  color: rgba(0, 0, 0, 1);
}

.header-user-account .user-logout:active {
  color: rgba(0, 0, 0, 0.5);
}

.header-shoping-functions {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.header-shoping-functions li {
  margin-right: 31px;
  width: 73px;
  padding-left: 28px;
}

.header-shoping-functions li:nth-child(2n) {
  margin-right: 0;
  width: auto;
  padding-left: 28px;
}

.compare-function-item {
  margin-right: 31px;
  width: 73px;
  padding-left: 28px;
}

.shoping-function-item {
  padding-left: 28px;
}

/* 2-я строка */
.header-second-row {
  padding-bottom: 49px;
}

/* 2-я строка - Каталог товаров */
.main-site-navigation {
  width: 500px;
}

.header-catalog-menu {
  position: relative;
}

.header-catalog-menu:hover .products-navigation-wrapper {
  display: flex;
}

.header-catalog-menu > a,
.header-services a,
.header-contacts a {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.header-catalog-menu .current-page,
.header-catalog-menu .current-page:hover {
  color: rgba(0, 0, 0, 0.3);

  cursor: default;
}

.products-navigation-wrapper {
  position: absolute;
  top: 21px;
  left: -60px;
  z-index: 1;

  display: none;
  flex-wrap: wrap;
  width: 1040px;
  min-height: 100px;
  padding: 30px 60px;
  padding-bottom: 12px;

  background-color: #f7e296;
}

.header-catalog-menu .products-navigation {
  /* width: 160px; */
  /* margin-right: 40px; */
  width: 200px;
  margin-bottom: 20px;
}

.products-navigation:first-child {
  /* width: 200px; */
  margin-right: 40px;
}

.products-navigation li {
  margin-bottom: 6px;
}

/* 2-я строка - Правая колонка */
.header-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 274px;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;

  width: 120px;
}

.header-contacts a {
  margin-top: 3px;
}

/* MAIN-PAGE */
/* Общие */
main p,
.promo-slider-table .parameters-row {
  margin: 0;

  color: #464646;
  letter-spacing: 0.2px;
}

main ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Промо-слайдер */
.promo-slider {
  min-height: 520px;
  margin-bottom: 72px;

  background-color: #f7e296;
  background-image: linear-gradient(#f7e296 111px, #ffffff 111px);
}

.promo-slides-item {
  display: flex;
  justify-content: space-between;
}

.promo-slide-fittracker,
.promo-slide-quadcopter {
  display: none;
}

.promo-image {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}

.promo-selfie-image {
  padding-right: 15px;
}

.promo-fittracker-image {
  padding-right: 2px;
  padding-top: 12px;
}

.promo-quadcopter-image {
  padding-left: 8px;
  padding-top: 65px;
}

.promo-slider-right-column {
  box-sizing: border-box;
  width: 50%;
  padding-left: 20px;
}

.promo-slider-slogan,
.promo-slider-table .values-row,
.categories-list a,
.services-slider-heading,
.about-us h2,
.contacts h2,
.shipping-companies-list {
  font-family: "Gilory", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.promo-slider-slogan {
  margin-top: 79px;
  margin-bottom: 19px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.8px;
}

.promo-slider-info {
  width: 480px;
  margin-bottom: 43px;

  letter-spacing: 0.1px;
}

.promo-right-column-wrapper,
.promo-slider-table tbody {
  display: flex;
  flex-direction: column-reverse;
}

.promo-slider-table {
  border-collapse: collapse;
}

.promo-slider-table td {
  width: 157px;
}

.promo-slider-table td:nth-child(2) {
  width: 137px;
}

.promo-slider-table .parameters-row {
  font-size: 13px;
  line-height: 20px;
}

.promo-slider-table .values-row {
  margin-bottom: 5px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.promo-slide-info-button {
  width: 220px;
  margin-bottom: 50px;
}

/* Категории товаров */
.categories-of-products {
  margin-bottom: 60px;
}

.categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-item {
  width: 160px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.categories-item::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;

  background-color: rgba(240, 197, 46, 0.5);
}

.categories-item-quadcopter {
  margin-right: 0;
}

.categories-list a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер сервисов */
.services-slider {
  margin-bottom: 94px;
  padding-bottom: 69px;

  background-color: #e5e5e5;
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services-slider .container {
  display: flex;
}

.services-slider-controls {
  display: flex;
  flex-direction: column;
  width: 277px;
  min-height: 239px;
  margin-right: 117px;
  padding-top: 81px;

  border-right: 7px solid #000000;
}

.services-slider-button {
  width: 160px;
  margin-bottom: 24px;
}

.services-slider-button:active {
  color: #f7e184;

  background-image: linear-gradient(#000000 0%, #000000 100%);
}

.services-slider-button-current,
.services-slider-button-current:hover {
  width: 277px;
  padding-left: 20px;

  text-align: left;
  color: #f7e184;

  background-image: linear-gradient(#000000 0%, #000000 100%);

  cursor: default;
}

.services-list {
  padding-top: 74px;
}

.services-item {
  padding-right: 240px;
}

.services-item p {
  width: 460px;
}

.services-item-warranty,
.services-item-credit {
  display: none;
}

.services-slider-heading,
.about-us h2,
.contacts h2 {
  margin: 0;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.7px;
}

.services-slider-heading {
  margin-bottom: 31px;
}

/* Бренды товаров */
.brands-of-products {
  margin-bottom: 93px;
}

.brands-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brands-item {
  margin-right: 40px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-item a:hover,
.brands-item a:focus,
.brands-item a:active {
  display: inline-block;

  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.brands-item-dji a:hover,
.brands-item-dji a:focus,
.brands-item-dji a:active {
  background-image: url("../img/brand-dji-color.png");
}

.brands-item-spgadgets a:hover,
.brands-item-spgadgets a:focus,
.brands-item-spgadgets a:active {
  background-image: url("../img/brand-spgadgets-color.png");
}

.brands-item-gopro a:hover,
.brands-item-gopro a:focus,
.brands-item-gopro a:active {
  background-image: url("../img/brand-gopro-color.png");
}

.brands-item-vive a:hover,
.brands-item-vive a:focus,
.brands-item-vive a:active {
  background-image: url("../img/brand-vive-color.png");
}

.brands-item img:hover,
.brands-item img:focus,
.brands-item img:active {
  opacity: 0;
}

/* "О нас" и "Контакты" */
.info-columns {
  display: flex;
  margin-bottom: 82px;
}

.about-us,
.contacts {
  width: 560px;
  padding-top: 43px;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 43px;
}

.about-us {
  margin-right: 38px;
}

.about-us p {
  width: 460px;
  margin-bottom: 31px;

  letter-spacing: 0.1px;
}

.about-us .second-paragraph {
  margin-bottom: 64px;

  letter-spacing: -0.2px;
}

.shipping-companies-list {
  margin-left: 36px;
  margin-bottom: 55px;

  font-size: 16px;
  line-height: 40px;
}

.contacts p {
  margin-bottom: 39px;

  letter-spacing: 0.1px;
}

.contacts .map-image {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 69px;
}

.info-sections-button {
  display: block;
  width: 260px;
}

/* INNER-PAGE */
/* Общие */
.page-title,
.filters h2,
.sort h2,
.filters-form legend,
.range-filter-price label,
.range-filter-price input,
.catalog-item-price,
.pagination {
  font-family: "Gilory", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.page-title {
  margin-top: 35px;
  margin-left: 60px;
  margin-bottom: 23px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.7px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-bottom: 48px;
}

.breadcrumbs li {
  margin-right: 37px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.breadcrumbs a,
.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current {
  cursor: default;
}

.catalog-background-wrapper {
  background-color: #000000;
  background-image:
    linear-gradient(#dcdcdc 69px, #eeeeee 69px),
    linear-gradient(#eeeeee 69px, #ffffff 69px);
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    70% 100%,
    100% 100%;
}

.catalog-columns-wrapper {
  display: flex;
}

.filters,
.sort,
.pagination {
  background-color: #eeeeee;
}

.filters h2,
.sort h2 {
  min-height: 48px;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

/* Левая колонка - Фильтры */
.filters h2 {
  width: 268px;
  margin-bottom: 81px;
  padding-top: 21px;
  padding-left: 60px;

  background-color: #dcdcdc;
}

.filters-form {
  padding-left: 60px;
}

.filters-form fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

.filters-form legend {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.filters-form label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.2px;

  cursor: pointer;
}

.filters-form input:disabled + label {
  color: #a6a6a6;

  cursor: default;
}

/* Левая колонка - Фильтры - Стоимость*/
.range-filter-controls {
  /* temp */
  height: 45px;
}

.range-filter-price {
  display: flex;
  width: 200px;
}

.range-filter-price label,
.range-filter-price input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.range-filter-price label {
  display: flex;
  align-items: baseline;
  width: 90px;

  cursor: default;
}

.range-filter-price input {
  box-sizing: border-box;
  width: 65px;
  margin-left: 3px;
  background-color: #eeeeee;
  border: none;
}

/* Левая колонка - Фильтры - Цвет и Bluetooth*/
.color-filter legend,
.bluetooth-filter legend {
  margin-bottom: 17px;
}

.color-filter label,
.bluetooth-filter label {
  padding-left: 38px;
}

.filters-form  .bluetooth-filter {
  margin-bottom: 31px;
}

.filters-button {
  width: 200px;
}

/* Правая колонка - Сортировка товаров */
.sort {
  display: flex;
  padding-top: 21px;
}

.sort h2 {
  margin-right: 50px;
  padding-left: 73px;
}

.sort-type-list,
.sort-rank-list {
  display: flex;
  flex-wrap: wrap;
}

.sort-type-list {
  width: 460px;
}

.sort-type-list li {
  margin-right: 29px;
}

.sort-type-list a {
  display: block;
  margin-top: 2px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0;

  color: rgba(0, 0, 0, 0.3);
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type-current a,
.sort-type-current a:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-pagination-wrapper {
  padding-bottom: 77px;
  padding-left: 73px;

  background-color: #ffffff;
}

/* Правая колонка - Каталог */
.catalog {
  margin-bottom: -11px;
  padding-top: 69px;
}

.catalog h3 {
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.catalog-list a {
  color: #000000;
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list h3 {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/* Правая колонка - Каталог - Карточка товара */
.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 46px;
}

.catalog-item-row {
  display: flex;
  justify-content: space-between;
  order: 1;
}

.catalog-item-heading {
  width: 261px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.catalog-item-image {
  margin-bottom: 32px;
  height: 380px;
}

/* Правая колонка - Каталог - Блок при наведении */
.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7)
}

.catalog-item-image:hover .catalog-item-hover {
  display: flex;

  cursor: pointer;
}

.catalog-item-hover .cart-button {
  display: block;
  width: 200px;
  margin-top: 43px;
  margin-bottom: 6px;
}

.catalog-item-hover .compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.2px;

  color: rgba(0, 0, 0, 0.5);
}

.catalog-item-hover .compare:hover,
.catalog-item-hover .compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-hover .compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Правая колонка - Пагинатор */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

/* Правая колонка - Пагинатор - Кнопки: Назад-Вперед*/
.pagination-button {
  flex-shrink: 0;
  width: 135px;
  padding: 22px 0;

  text-align: center;
  color: #000000;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .pagination-button-disabled,
.pagination .pagination-button-disabled:hover {
  color: #979797;

  background-color: #eeeeee;

  cursor: default;
}

/* Правая колонка - Пагинатор - Номера страниц*/
.pagination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 90px;
  max-width: 440px;
}

.pagination-item {
  margin-right: 27px;
}

.pagination-item:nth-child(12n),
.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: rgba(0, 0, 0, 1);

  cursor: default;
}

/* MAIN-FOOTER */
/* Общие */
.main-footer {
  background-color: #464646;
  /* margin-top: 82px; */
}

.main-footer p,
.footer-first-row a,
.footer-phone-number {
  margin: 0;

  color: #ffffff;
}

.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Строки */
.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Первая строка */
.footer-first-row {
  padding-top: 65px;
  margin-bottom: 20px;
}

.footer-first-row a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-first-row a:hover,
.footer-first-row a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-first-row a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Первая строка - Логотип*/
.footer-first-row .footer-logo:hover,
.footer-first-row .footer-logo:focus {
  opacity: 0.6;
}

.footer-first-row .footer-logo:active {
  opacity: 0.3;
}

.main-footer .footer-logo-index:hover {
  opacity: 1;
}

/* Первая строка - Правая колонка*/
.footer-first-row-right-column {
  display: flex;
  margin-top: -2px;
}

.footer-user-account {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

.footer-user-account a:nth-child(2n-1) {
  margin-right: 20px;
  padding-left: 27px;

  letter-spacing: 0.2px;
}

.footer-user-account .user-login,
.user-login ~ a {
  margin-left: 155px;
  padding-left: 27px;
}

.footer-user-account .user-profile {
  margin-right: 20px;
}

.footer-user-account .user-logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-account .user-logout:hover,
.footer-user-account .user-logout:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-account .user-logout:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer-shoping-functions {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.footer-shoping-functions li {
  margin-right: 31px;
  width: 73px;
  padding-left: 28px;
}

.footer-shoping-functions li:nth-child(2n) {
  margin-right: 0;
  width: auto;
  padding-left: 28px;
}

/* Вторая строка */
.footer-second-row {
  margin-bottom: 63px;
}

.footer-second-row a {
  color: #ffffff;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.footer-second-row a:hover,
.footer-second-row a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer-second-row a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Вторая строка - Адрес */
.footer-adress {
  width: 205px;
}

/* Вторая строка - Информационное меню */
.main-footer .footer-info-menu {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin-top: 7px;
  margin-left: -25px;


  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.footer-info-menu li {
  margin-right: 33px;
}

.footer-info-menu li:nth-child(3n) {
  margin-right: 0;
}

/* Вторая строка - Связь */
.footer-communication {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 164px;
}

.main-footer .footer-phone-number {
  letter-spacing: 0;
  text-transform: none;
}

/* Третья строка */
.footer-third-row {
  padding-bottom: 65px;
}

.footer-third-row a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-third-row a:hover,
.footer-third-row a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-third-row a:active {
  color: rgba(255, 255, 255, 0.1);
}

/* Третья строка - Социальные сети*/
.main-footer .footer-social {
  display: flex;
  margin-left: 500px;
}

.footer-social li {
  margin-right: 23px;
}

/* Третья строка - Авторские права*/
.footer-third-row .footer-copyright:hover,
.footer-third-row .footer-copyright:focus {
  opacity: 0.6;
}

.footer-third-row .footer-copyright:active {
  opacity: 0.3;
}

/* MODALS */
/* write-us */
.modal-write-us {
  width: 760px;
  padding: 92px 100px;
  padding-bottom: 77px;

  /* temp */
  border: 1px solid black;
}

.modal-write-us p {
  margin: 0;
}

.write-us-form-wrapper {
  display: flex;
  margin-bottom: 34px;
}

.write-us-form .user-info {
  width: 360px;
  margin-right: 40px;
}

.user-info:last-child {
  margin-right: 0;
}

.write-us-form label {
  display: block;
  margin-bottom: 8px;

  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.write-us-form input,
.write-us-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.write-us-form .textarea-wrapper {
  margin-bottom: 36px;
}

.textarea-wrapper label {
  letter-spacing: 0.3px;
}

/* .write-us-form input:not(:focus):required,
.write-us-form textarea:not(:focus):required {
  background-color: #f6dada;
  box-shadow: none;
}*/

.write-us-form .invalid-value,
.write-us-form .invalid-value:not(:focus):hover {
  background-color: #f6dada;
}

.write-us-button {
  width: 200px;
}

/* map */
.modal-map {
  width: 960px;
  height: 560px;

  /* temp */
  border: 1px solid black;
}
